pkgbase = eqxear
	pkgdesc = Live system parametric equalizer and spectrum analyzer for PipeWire
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/jerodkdunn/EQxEar
	install = eqxear.install
	arch = x86_64
	license = Apache-2.0
	license = ISC
	makedepends = lv2
	depends = python>=3.11
	depends = python-gobject
	depends = python-cairo
	depends = gtk4
	depends = pipewire
	depends = pipewire-audio
	depends = pipewire-pulse
	depends = wireplumber
	depends = libpulse
	depends = glibc
	depends = hicolor-icon-theme
	source = https://github.com/jerodkdunn/EQxEar/releases/download/v0.1.1/eqxear-0.1.1.tar.gz
	sha256sums = f1512c869655a4e239b9c52d308d745f63b672bc1f2a085aef43457e3d9671e0

pkgname = eqxear
